# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환 + 나머지를 모두 소문자화

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"

# 아래에 코드를 작성하세요.
print(words.capitalize())
print(words.title())
print(words.upper())

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"

print(words.lower())
print(words.swapcase())
# 아래에 코드를 작성하세요.

### `.join(iterable - 돌아갈 수 있는 애들, for문안에서 range list str 등)`

특정한 문자열로 만들어 반환합니다.

In [47]:
# 아래에 코드를 작성하세요.
# 1
exc = '!'
exc.join('배고파')

# 2 이렇게 더 많이 쓴다.
print('!'.join('배고프다'))

print('-'.join(['hi', 'hello']))

print('#'.join(['월요일', '졸리다', '파이썬', 'ssafy']))

배!고!프!다
hi-hello
월요일#졸리다#파이썬#ssafy

### `<class str>.replace(old, new[, count])`

※ (old, new[, count]) : 대괄호 밖은 필수, 내부는 옵션

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'yayayaya'.replace('a', '_')
'wooooooowooooooo'.replace('o', '', 3) # 앞에서부터 3개가 사라짐

### 글씨 제거 (`.strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'            oh!\n'.strip()

In [ ]:
str = '       oh!       '
print(str.lstrip())
print(str.rstrip())

In [ ]:
'hehehehihihi'.rstrip('hi')
'hehehehihihi'.lstrip('he')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다. >>

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.find('l')

In [ ]:
'apple'.find('f')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.index('l')

In [ ]:
'apple'.index('k')

## `.split([chars=' '])` ★

문자열을 띄어쓰기 기준(괄호안에 무언가를 넣는다면 그것을 기준으로)으로 덩어리를 나누어 리스트로 반환

In [1]:
# 아래에 코드를 작성하세요.
print('a b c'.split())
print('010-9325-0572'.split('-'))

insta = '#월요일 #밥시간 #미세먼지 #아아아 오늘은 열공해야지'
words = insta.split()

hashtags = []
for word in words:
    if word[0] == '#':
        hashtags.append(word[1:])

print(hashtags)

['a', 'b', 'c']
['010', '9325', '0572']
['월요일', '밥시간', '미세먼지', '아아아']

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string') # 괄호 안 자료형이 쓸 수 있는 메소드들을 쭉 보여준다.
```

In [ ]:
# dir('string')
dir([])

---

# 리스트 메소드 활용하기(리턴이 없고 원본을 바꾼다)

## 값 추가 및 삭제

### `.append(x)` ★

리스트에 값을 추가할 수 있습니다.

In [1]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [2]:
# 값을 추가해봅시다.
result = caffe.append('ediya')
print(result)

None

In [3]:
caffe

['starbucks', 'tomntoms', 'hollys', 'ediya']

In [ ]:
# 어렵게 넣어보도록 해봅시다.
caffe[5] = ['twosomeplace']

caffe[len(caffe)-1] = 'twosomeplace'
print(caffe)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.
l = []
l.append(['a', 'b']) # [['a', 'b']]
l.extend(['a', 'b']) # [['a', 'b'], 'a', 'b']
l

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.
s = 'a' + 'b'
s #'ab'
ss = 'c' 'd'
ss #'cd'

l3 = ['a' 'b']
l3

In [ ]:
# append와 비교해봅시다.

In [ ]:
caffe.append(['coffeenie']) # 괄호안을 통째로 추가
print(caffe)
caffe.extend('coffeegurunaru') # 괄호안을 쪼개서 추가
print(caffe)

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
lunches = ['돈가스', '매운닭볶음']

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
lunches.insert(0, '파스타')
lunches # 리턴이 아니라 원본이 바뀐 것

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
lunches.insert(len(lunches), '곱창')
lunches

In [ ]:
# 길이를 넘어서는 인덱스는 무시되고,  무조건 리스트 마지막에붙습니다.
lunches.insert(len(lunches)+100, '배고파')
lunches

### `remove(x)` ★

리스트에서 값이 x인 것을 삭제합니다.

In [2]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [3]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
numbers

[2, 3, 1, 2]

In [4]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

In [5]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
remove

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [6]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [8]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
numbers.pop(0)

1

In [9]:
numbers

[2, 3, 4, 5, 6]

In [10]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(numbers)

pop_value = numbers.pop()

print(f'{pop_value}가 삭제되어 {numbers}가 남았습니다.')

[2, 3, 4, 5, 6]
6가 삭제되어 [2, 3, 4, 5]가 남았습니다.

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [11]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(3)

2

In [12]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
numbers.index(100)

if value in numbers:
    i = numbers.index(100)
else:
    i = -1

ValueError: 100 is not in list

### `.count(x)` ★

원하는 값의 갯수를 확인할 수 있습니다.

In [15]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [16]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
target = 1

for _ in range(numbers.count(target)):
    numbers.remove(target)
    
numbers

[2, 5, 5]

In [17]:
# 모두 삭제되었는지 검증해봅시다.
target in numbers

False

### `.sort()` >> 리턴하지 않고 원본을 변형 ★

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [20]:
numbers = [5, 2, 3, 1, 4]
sorted(numbers)

sorted('fdsa') #['a', 'd', 'f', 's']
''.

['a', 'd', 'f', 's']

In [21]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[21, 19, 25, 16, 15, 14]

In [23]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)
lotto.sort(reverse=True)
print(lotto)

[14, 15, 16, 19, 21, 25]
[25, 21, 19, 16, 15, 14]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [24]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [35]:
classroom.reverse() # return None, Origin change
print(classroom)

['Justin', 'David', 'Tom']

## 복사 ★ call by value, call by reference(포인팅) ★개념

In [36]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

copy_list = original_list
print(copy_list)

[1, 2, 3]

In [38]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 'a'
print(copy_list, original_list)

['a', 2, 3] ['a', 2, 3]

In [39]:
# id 값을 확안해봅시다.
print(id(copy_list), id(original_list)) # Python Visualize로 확인해보기 복사본과 원본이 같은 메모리주소에 있는 값을 지칭하고 있음

1964118415368 1964118415368

In [42]:
# 숫자를 확인해봅시다.
a = 1
b = a
b = 2

print(a, b)

1 2

In [41]:
# 딕셔너리도 확인해봅시다.
c = {'a':1, 'b':2}
d = c
d['a'] = 100
print(d, c)

{'a': 100, 'b': 2} {'a': 100, 'b': 2}

### copy ★★★★시험에 나와요 shallow copy deep copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 리스트라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [43]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = a[:]

In [44]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = list(a)

In [ ]:
import copy

l1 = [
    [1, 2, 3],
    [4, 5, 6]
]

l2 = copy.copy(l1)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.
i1 = [1, 2, 3]
i2 = [4, 5, 6]

l1 = [i1, i2]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

import copy

l1 = [
    {'movieCd': 123},
    {'movieCd': 456}
]

l2 = copy.deepcopy(l1)

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [44]:
# clear를 사용해봅시다.
a = [1, 2, 3]
b = a
a.clear() # 원본이 바뀐 것

c = [1, 2, 3]
d = c
c = [] # 새로운 것이 등장한 것 >> 재할당(기존의 연결고리를 무시)

#Visualize Tutor로 다시 확인해보기

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [47]:
numbers = range(1,11)

In [51]:
# 기존의방법
cubics = []
for number in numbers:
    cubics.append(number ** 3)
        
print(cubics)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [48]:
# List Comprehension ★ 이정도 수준으로 이해, 값을 앞에 쓰고 뒤에 나열하는 식이라는 점
cubic_list = [number ** 3 for number in numbers] # 파이썬식 문법 - 영어처럼 뒤에서부터 해석
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1,11)

In [49]:
# 기존의방법
evens = []
for number in numbers:
    if number % 2 == 0:
        evens.append(number)
        
print(evens)

[2, 4, 6, 8, 10]

In [50]:
# List Comprehension

even_list = [number for number in numbers if number % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [53]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [54]:
# 반복문을 활용하여 만들어주세요.
pair = []

for girl in girls:
    for boy in boys:
        pair.append((boy, girl))
        
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [56]:
# List comprehension을 활용하여 만들어주세요.
pairs = [(boy, girl) for boy in boys for girl in girls]
pairs

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [59]:
# 반복문을 활용하여 만들어주세요.
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))
                
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [60]:
# List comprehension을 활용하여 만들어주세요.
result = [
    (x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z ** 2
]

print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [4]:
# List comprehension을 활용하여 만들어주세요.
string = 'Life is too short, you need python!'
vowels = 'aeiou'


# for vowel in vowels:
#     if vowel in l:
#         l.remove(vowel)
        
# print(''.join(l)) 

result = [] # 인덱스 접근보다 파이썬틱한 식 표현에 익숙해지기
for char in string:
    if char not in vowels:
        result.append(char)

print(''.join(result))  

# 직전 결과 == list
# 최종 결과 == str

Lf s t shrt, y nd pythn!

In [5]:
result = [char for char in string if char not in vowels]
print(''.join(result))

Lf s t shrt, y nd pythn!

In [6]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!


---

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [10]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
pop = my_dict.pop('apple')
print(pop, my_dict)

사과 {'banana': '바나나'}

In [11]:
# 딕셔너리에 없으면 에러가 발생합니다
pop = my_dict.pop('melon')

KeyError: 'melon'

In [12]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', '없음') # 없으면 에러내지 말고 뒤에 있는 값을 리턴해

'없음'

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [15]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.apdate(apple = '삭와')

my_dict

AttributeError: 'dict' object has no attribute 'apdate'

In [19]:
my_dict.update(asdf='asdf')
my_dict['qwer'] = 'qwer' # 새로 추가됨 'qwer': 'qwer'
print(my_dict)
my_dict['qwer'] = '1234' # 수정됨
print(my_dict)

{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'asdf': 'asdf', 'qwer': 'qwer'}
{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'asdf': 'asdf', 'qwer': '1234'}

### `.get(key[, default])` ★★

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [22]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [23]:
print(my_dict.get('pineapple'))
print(my_dict.get('banana'))
print(my_dict.get('asdf', '그런거없다'))

None
바나나
그런거없다

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [24]:
# dictionary comprehension

cubic = {x: x**3 for x in range(1, 11)}
cubic

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [25]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [27]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다. >> 이정도 수준으로 알면 충분
# 예) {'대전': 82, '중국': 200}
bad_air = {key: value for key, value in dusts.items() if value > 80}
print(bad_air)

{'대전': 82, '중국': 200}

In [30]:
# V이정도 수준까지  미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.


grade = { key: ('나쁨' if value > 80 else '보통') for key, value in dusts.items()}
print(grade)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [33]:
# elif 도 사용할 수 있습니다. >> 이런게 있구나 정도 보기

grade = {
    k: ('매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음') for k, value in dusts.items()
}

print(grade)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

---

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [34]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('떡')
fruits

{'떡', '바나나', '사과', '수박'}

### `update(*others)`

(*: 여러가지의 의미) 여러가지의 값을 추가합니다. add 의 확장판

여기서 반드시 iterable한 값을 넣어야합니다.

In [35]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update(('토마토', '떡'), ('두리안', '딸기'), ('토마토', '딸기'))
fruits

{'두리안', '딸기', '떡', '바나나', '사과', '수박', '토마토'}

### `.remove(elem)` ★discard와의 차이점 정도 알아두기 누가 에러 있고 없는지

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [37]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('사과')
fruits
fruits.remove('asdf')

KeyError: 'asdf'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [1]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
r = fruits.discard('asdf')
print(r)

None

### `pop()`

임의의 원소를 제거한 후 '반환'합니다. >>> pop은 무조건 return이 있다.

In [41]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}
pop = fruits.pop()
print(pop, fruits)

바나나 {'아보카도', '사과', '수박'}

---

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)` > 모든 요소에 똑같은 일을 (무한히) 적용하고 싶을 때 사용 ★

* Iterable(, 가 붙은 모든 아이들)의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [50]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.
chars = []
for number in numbers:
    chars.append(str(number))
    
''.join(chars)

'123'

In [52]:
# list comprehension
chars = [str(number) for number in numbers]
''.join(chars)

'123'

In [70]:
chars = map(str, numbers)
''.join(chars)

'123'

In [76]:
tags = ['오늘', '회식', '월요일'] # 3 요소 모두 '#'를 붙이고 싶다.

def add_hashtag(word):
    return '#' + word

print(type(map(add_hashtag, tags)))
hashtag = list(map(add_hashtag, tags))
print(tags, hashtag)

<class 'map'>
['오늘', '회식', '월요일'] ['#오늘', '#회식', '#월요일']

In [78]:
chars = ['1', '2', '3']
list(map(int,chars))
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

[1, 2, 3]

In [83]:
# list comprehension

numbers = [int(char) for char in chars]
print(numbers)

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [82]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

cubes = list(map(cube, range(1, 11)))

cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 '튜플의 모음'으로 구성된 zip object를 반환한다.

In [84]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [87]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [89]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

my_dict = {}
for (girl, boy) in zip(girls, boys):
    my_dict[girl] = boy
    
my_dict

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [90]:
my_dict = {girl: boy for girl, boy in zip(girls, boys)}
my_dict

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [92]:
a = '가나다'
b = '다나가'

for char_a, char_b in zip(a, b):
    print(char_a, char_b)

가 다
나 나
다 가

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [93]:
a = '12'
b = 'abc'

list(zip(a, b))

[('1', 'a'), ('2', 'b')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [96]:
from itertools import zip_longest

a = 'asdf'
b = [1, 2]

list(zip_longest(a, b, fillvalue='고독'))

[('a', 1), ('s', 2), ('d', '고독'), ('f', '고독')]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [2]:
# 짝수인지 판단하는 함수를 작성해봅시다.

def is_even(num):
    return num % 2 == 0

numbers = range(1, 20)
list(filter(is_even, numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [100]:
# 다음의 list comprehension과 동일하다.
[n for n in numbers if n % 2 == 0]
[n for n in numbers if is_even(n)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
n%2==0

bool(n%2)

In [104]:
phone_numbers = [
    '01012345678',
    '0212345678',
    '010123456789',
    '01056245687',
    '+82)36336544'
]

def is_valid_phone(phone_number):
    if phone_number[:3]=='010' and len(phone_number)==11:
        return True
#     if phone_number[:3] == '010':
#         if len(phone_number) == 11:
#             return True
#         else:
#             return False
#     else:
#         return False

    
list(filter(is_valid_phone, phone_numbers))

['01012345678', '01056245687']